[bumpversion]
current_version = 2.4.70
commit = True
tag = True
tag_name = {new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)
serialize = {major}.{minor}.{patch}

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:uv.lock]
search = name = "arthur-common"
	version = "{current_version}"
replace = name = "arthur-common"
	version = "{new_version}"
